body{
  background-color: #f1e1c8; /* Color de fondo del encabezado */
}
.body2{
  font-family: Arial, Helvetica, sans-serif;
  width: 80%; /* Ancho del contenedor principal (ajusta según tus preferencias) */
  margin: 0 auto; /* Margen automático a la izquierda y a la derecha */
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
header {
  background-color: #f1e1c8; /* Color de fondo del encabezado */
  color: #ed9909; /* Color del texto en el encabezado */
  padding: 15px; /* Espaciado interno del encabezado */
  display: flex;
  justify-content: flex-start;
}
  /* Estilos para la imagen en el header */
.logo-rodrigo-izquierda {
  margin-right: 10px; /* Espacio entre la imagen y el título */
  width: 100px;
}
@media (max-width: 634px) {
  .logo-rodrigo-izquierda {
    width: 110px; /* Reducir el ancho de la imagen al 50% cuando la pantalla sea más pequeña que 768px */
  }
}
  /* Estilos para el título en el header */
.titulo-principal {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 634px) {
  .titulo-principal {  
    font-size: 20px;
  }
}

/* Estilos para el menú de navegación */
.menu-navegacion {
  display: flex;
  overflow: hidden;
  background-color: #ed9909;
  align-items: center;
  justify-content: space-around;
}
/* Estilos para los enlaces del menú principal */
.menu-navegacion a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
.menu-navegacion a:last-child {
  border-right: none; /* Quitar el borde en el último enlace */
}
/* Estilos para los enlaces del menú desplegable */
.menu-contenido a {
  float: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid #f2f2f2; /* Borde gris en la parte inferior */
}
.menu-contenido a:last-child {
  border-bottom: none; /* Quitar el borde en la última subopción */
}
/* Estilos para el menú desplegable */
.opciones-menu {
  float: left;
  overflow: hidden;
}
.opciones-menu .entradilla-menu {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  padding: 14px 16px;
  margin-right: 25px;
}
.menu-contenido {
  display: none;
  position: absolute;
  background-color: #ed9909; /* Color de fondo del menú desplegable */
  min-width: 160px;
  z-index: 1;
}
.menu-contenido a:hover {
  background-color: #f2f2f2; /* Color de fondo al pasar el mouse */
  color: #ed9909; /* Cambia el color del texto al pasar el mouse */
}
.opciones-menu:hover .menu-contenido {
  display: block;
}
/* Estilos para el segundo nivel del menú desplegable */
.sub-menu {
  position: relative;
  display: inline-block;
}
.sub-menu .sub-menu-contenido {
  display: none;
  position: absolute;
  background-color: #ed9909; /* Color de fondo del segundo nivel */
  min-width: 160px;
  z-index: 1;
  top: 0;
  left: 100%;
}
.sub-menu-content a {
  border-bottom: 1px solid #f2f2f2; /* Borde gris en la parte inferior */
}
.sub-menu-content a:last-child {
  border-bottom: none; /* Quitar el borde en la última subopción */
}
.sub-menu:hover .sub-menu-contenido {
  display: block;
}
.idioma-menu{
  background-color: #ed9909;
  border: none;
}


.contenido-texto {
  margin: 10px 100px 10px 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}

.texto-titulo{
border-bottom: 2px solid #ed9909;
    display: inline-block;
    padding-bottom: 5px;
}